<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>A simple, clean, and responsive HTML invoice template</title>

		<!-- Favicon -->
		<link rel="icon" href="./images/favicon.png" type="image/x-icon" />

		<!-- Invoice styling -->
		<link rel="stylesheet"  href="style.css">
	</head>
    
	<body>
		<div class="invoice-box">
			<table>
				<tr class="top">
					<td colspan="2">
						<table>
							<tr>
								<td class="title">
									<img src="./images/logo.png" alt="Company logo" style="width: 100%; max-width: 300px" />
								</td>

								<td>
									Invoice #: <br />
									Created: 2023-11-07<br />
									Tracking id: 3922
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="2">
						<table>
							<tr>
								<td>
									Sparksuite, Inc.<br />
									12345 Sunny Road<br />
									Sunnyville, TX 12345
								</td>

								<td>
									Acme Corp.<br />
									John Doe<br />
									john@example.com
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="heading">
					<td>Payment Method</td>
				</tr>

				<tr class="details">
					<td>cash</td>
				</tr>

				<tr class="heading">
					<td>Item</td>

					<td>Price</td>
				</tr>
					
				<tr class="item">
					<td>Clean Code Book</td>

					<td>$20.0</td>
				</tr>
				<tr class="total">
					<td></td>
					
				<tr class="item">
					<td>Taylor Album</td>

					<td>$30.0</td>
				</tr>
				<tr class="total">
					<td></td>
			
					<td>Total: $50.0</td>
				</tr>
			</table>
		</div>
	</body>
</html>